a.example-1474834255437-a-component-clone {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 300;
	line-height: 29.4px;
	text-align: center;
	color: rgb(51, 122, 183);
	height: 53px;
	width: 509.1875px;
	border-top-color: rgb(51, 122, 183);
	border-bottom-color: rgb(51, 122, 183);
	border-right-color: rgb(51, 122, 183);
	border-left-color: rgb(51, 122, 183);
	list-style-type: disc;
	list-style-position: outside;
	transition: all 0s ease 0s;
	outline: rgb(51, 122, 183) none 0px;
	box-sizing: border-box;
}

p.example-1474834255415-p-component-clone {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 300;
	line-height: 29.4px;
	text-align: center;
	color: rgb(85, 85, 85);
	height: 87px;
	width: 576px;
	border-top-color: rgb(85, 85, 85);
	border-bottom-color: rgb(85, 85, 85);
	border-right-color: rgb(85, 85, 85);
	border-left-color: rgb(85, 85, 85);
	margin-bottom: 20px;
	margin-right: 72px;
	margin-left: 72px;
	max-width: 80%;
	list-style-type: disc;
	list-style-position: outside;
	transition: all 0s ease 0s;
	outline: rgb(85, 85, 85) none 0px;
	box-sizing: border-box;
}

a.example-1474834384019-a-component-clone {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	color: rgb(86, 61, 124);
	height: 50px;
	width: 112.703125px;
	border-top-color: rgb(86, 61, 124);
	border-bottom-color: rgb(86, 61, 124);
	border-right-color: rgb(86, 61, 124);
	border-left-color: rgb(86, 61, 124);
	margin-left: -15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	list-style-type: disc;
	list-style-position: outside;
	transition: all 0s ease 0s;
	outline: rgb(86, 61, 124) none 0px;
	box-sizing: border-box;
}